.buttem__reset {
    background-color: transparent;
    border-color: transparent;

}

/*font size*/
:root {
    --fs-sm: clamp(0.8rem, 0.08vi + 0.78rem, 0.84rem);
    --fs-base: clamp(1rem, 0.23vi + 0.94rem, 1.13rem);
    --fs-md: clamp(1.25rem, 0.45vi + 1.14rem, 1.5rem);
    --fs-lg: clamp(1.56rem, 0.79vi + 1.36rem, 2rem);
    --fs-xl: clamp(1.95rem, 1.29vi + 1.63rem, 2.66rem);
    --fs-xxl: clamp(2.44rem, 2.02vi + 1.94rem, 3.55rem);
    --fs-xxxl: clamp(3.05rem, 3.06vi + 2.29rem, 4.73rem);
}

@font-face {
    font-family: "roboto";
    src: url(/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

* {
    box-sizing: border-box;
    font-family: roboto;
    text-decoration: none;
    
}

body {
    margin: 0;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

footer a {
    color: rgb(83, 83, 83);
}